@use 'theme'
@use 'forms'

body
  font-family: theme.$font-family

main
  background-image: url('../public/texture.png')
  background-repeat: repeat

input, button, select, textarea, optgroup, option
  font-family: inherit
  font-size: inherit
  font-style: inherit
  font-weight: inherit
